{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
    News
{% endblock %}

{% block content %}
    <h4>Количество новостей: {{ news|length }}</h4>
    {% if news %}
        <table>
            <tr>
                <td>Title</td>
                <td>Date</td>
                <td>Text</td>
            </tr>
            {% for n in news %}
                <tr>
                    <td>{{ n.title|Censor:'art' }}</td>
                    <td>{{ n.dateCreated|date:'d-M-Y h:m' }}</td>
                    <td>{{ n.text|truncatechars:50|Censor:'some' }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}
{% endblock %}